.lock-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
}

.lock-overlay.opened {
  transition: top 2s;
  top: -100vh;
}

.content {
  z-index: 0;
  height: 100vh;
  background-color: black;
}

h1, h2 {
  color: white;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}